<!-- Footer -->
<footer id="footer" class="text-center text-lg-start text-muted">
	<!-- Section: Social media -->

	<!-- Section: Social media -->

	<!-- Section: Links  -->
		<section class=" "> <div
			class="container text-center text-md-start mt-5">
			<!-- Grid row -->
			<div
				class="row mt-3">
				<!-- Grid column -->
				<div
					class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<!-- Content -->
					<h6 class="text-uppercase fw-bold mb-4">
						Company name
					</h6>
					<p>
						Le Bon Coin
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div
					class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Products
					</h6>
					<p>
						<a href="#!" class="text-reset">Symfony</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Docker</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Bootstrap</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Webpack</a>
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div
					class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Useful links
					</h6>
					<p>
						<a href="#!" class="text-reset">Pricing</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Settings</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Orders</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Help</a>
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div
					class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Contact
					</h6>
					<p>
						<i class="fas fa-home me-3"></i>
						Clermont-Ferrand, Avenue Charras</p>
					<p>
						<i class="fas fa-envelope me-3"></i>
						bastientakis@gmail.com
					</p>
					<p>
						<i class="fas fa-phone me-3"></i>
						+ 01 234 567 88</p>
					<p>
						<i class="fas fa-print me-3"></i>
						+ 01 234 567 89</p>
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
	</section>
	<!-- Section: Links  -->

	<!-- Copyright -->
	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2021 Copyright:
		<a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->
