<div class="div-nav">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Leboncoin_Logo_%282016%29.svg" height="50">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/connexion">+ Déposer une annonce</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/inscription">Créer un Compte</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/connexion">Connexion</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<form class="d-flex" action="/search" method="POST">
		<input class="form-control me-2" name="titreAnnonce" id="titreAnnonce" type="search" placeholder="Titre d'annonce" aria-label="Search">
		<button class="btn btn-primary" type="submit">Rechercher</button>
	</form>
</div>
