{% extends 'base.html.twig' %}

{% block title %}Déposer une annonce
{% endblock %}

{% block body %}
	<br>
	<form action="/confirm/annonce" method="POST" style="display: flex; flex-direction: column; align-items: center;">
		<label for="titreAnnonce">Titre Annonce :
		</label>
		<input type="text" name="titreAnnonce" id="titreAnnonce" size="30"><br>
		<label for="prix">Prix :
		</label>
		<input type="number" placeholder="50.00" name="prix" id="prix" maxlength="15" size="30"><br>
		<label for="urlImage">Url Image :
		</label>
		<input type="text" name="urlImage" id="urlImage" size="30"><br>
		<label for="description">Description :
		</label>
		<textarea name="description" id="description" rows="2" cols="33"></textarea><br>
		<input type="submit" value="Déposer votre annonce">
	</form>
{% endblock %}
