{% extends 'base.html.twig' %}

{% block title %}Le Bon Coin
{% endblock %}

{% block body %}
	<div class="div-card">
		{% for annonce in annonces %}
			<div class="card" style="width: 750px; display: inline-block;" data-aos="fade-right" data-aos-duration="1200">
				<img width="36%" style="float: left;" src="{{ annonce.getUrlImage() }}" alt="image annonce">
				{{ attributes.setAttribute('src', annonce.getUrlImage()) }}
				<div class="card-body" style="float: right; width: 63%;">
					<h5 class=" card-title">{{ annonce.getTitre() }}</h5>
					<p>{{ annonce.getPrix() }}€</p>
					<p class="card-text">{{ annonce.getDescription()|u.truncate(150, '...', false) }}</p>
					<p>Ajoutée le
						{{ annonce.getDate()|date('d/m/Y') }}
						par
						{{ annonce.getUser().getUsername() }}</p>
					<a href="#" class="btn btn-primary">
						{{ attributes.setAttribute('href','/details?idAnnonce=' ~ annonce.getId()) }}
						Détail de l'annonce</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
