{% extends 'base.html.twig' %}

{% block title %}Le Bon Coin
{% endblock %}
{% block body %}
	<div class="div-card">
		<div class="card" style="width: 920px; display: inline-block;" data-aos="fade-up" data-aos-duration="1000">
			<img width="40%" style="float: left;" src="{{ annonce[0].getUrlImage() }}" alt="image annonce">
			<div class="card-body" style="float: right; width: 58%;">
				<h3 class=" card-title">{{ annonce[0].getTitre() }}</h3><br>
				<h4>{{ annonce[0].getPrix() }}€</h4>
				<p class="card-text">{{ annonce[0].getDescription() }}</p>
				<p>Ajoutée le
					{{ annonce[0].getDate()|date('d/m/Y à H:i:s') }}</p>
				<p>Auteur :
					{{ annonce[0].getUser().getUsername() }}</p>
				<p>email :
					{{ annonce[0].getUser().getEmail() }}</p>
				<a href="/" class="btn btn-primary">Retour</a>
			</div>
		</div>
	</div>
{% endblock %}
