<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<!--Librairie AOS => animate on screen-->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<title>
			{% block title %}Le Bon Coin
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																																																																																																															
																																																																																																																																																																																																																																	           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<style>
			.navbar {
				background-color: white !important;
				margin-bottom: 2%;
			}
			.navbar a {
				color: #1a1a1a !important;
				padding-right: 5%;
			}
			.div-nav,
			.div-card {
				display: flex;
				align-items: center;
				flex-direction: column;
			}

			.card {
				margin-top: 2%;
				margin-bottom: 1%;
			}
			#footer {
				margin-top: 3%;
				padding-top: 2%;
			}
		</style>
	</head>
	<body>
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			{% include "base/nav2.html.twig" %}
		{% else %}
			{% include "base/nav.html.twig" %}
		{% endif %}
		{% block body %}{% endblock %}
		{% include "base/footer.html.twig" %}
		<script>
			AOS.init();
		</script>
	</body>
</html>
